* {
    margin: 0px;
    padding: 0px;   
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-project-header {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#add-project-button {
    margin-bottom: 20px;
}

.add-project-popup {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    background-color: aliceblue;
    display: none;
    flex-direction: column;
    justify-content: center;
}

#add-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

#add-project-title-input {
    height: 75px;
    width: 350px;
    font-size: 32px;
    padding-left: 15px;
}

#add-project-submit-button {
    height: 50px;
    width: 200px;
    font-size: 30px;
}

.project-container {
    border: 2px solid black;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
}

/**Setting relative position allows other elements, e.g. our add-list-item, to be set via absolute*/
.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    height: 200px;
}

.project-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

.project-item-array {
    font-size: 22px;
}

#project-list-item {
    margin-bottom: 10px;
}

#add-list-item {
    position: absolute;
    bottom: 10px;
    right: 10px;
}