* {
    margin: 0px;
    padding: 0px;   
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-project-header {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#add-project-button {
    margin-bottom: 20px;
}

.add-project-modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.add-project-modal-content {
    position: absolute;
    background: lightcyan;
    width: 400px;
    height: 400px;
    padding: 1em 2em;
    border-radius: 10px;
    border: 3px solid green;
}

#add-project-popup:target {
    visibility: visible;
    opacity: 1;
}

.add-list-popup {
    display: none;
}

#add-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

#add-project-title-input {
    height: 75px;
    width: 350px;
    font-size: 32px;
    padding-left: 15px;
}

#add-project-submit-button {
    height: 50px;
    width: 200px;
    font-size: 30px;
}

.project-container {
    border: 2px solid black;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
}

.project-item-container {
    font-size: 25px;
    border: 2px solid yellow;
}

.project-item-list {
    border: 2px solid green;
    font-size: 20px;
}

/**Setting relative position allows other elements, e.g. our add-list-item, to be set via absolute*/
.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    height: 250px;
}

.project-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

.project-item-array {
    font-size: 22px;
}

#project-list-item {
    margin-bottom: 10px;
}

#add-list-item {
    position: absolute;
    bottom: 10px;
    right: 10px;
}